@font-face {
    font-family: "young-serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.icon {padding-top: 0.5em; height: 2em; width: 2em}

body{
    background-color: hsl(30, 54%, 90%);
}

.recipe-card{
    /*margin top, right, bottom, left*/
    margin: 15% 22.5% 15% 22.5%;
    padding: 4%;
    border-radius: 20px;
    background-color:hsl(0, 0%, 100%);
}

.food-pic{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

h1, h2{
    font-family: 'young-serif';
    font-weight: 400;
}

h1{
    font-size: 40px;
    color: hsl(24, 5%, 18%);
}

h2{
    font-size: 30px;
    color: hsl(14, 45%, 36%);
}

p, li, strong{
    font-family: 'outfit';
    font-size: 16px;
    color:hsl(24, 5%, 18%);
    line-height: 1.5em;
}

.section li{
    margin-left: -2.5%;
}

.list-item{
    margin-left: 2.5%;
    margin-right: 2%;
}

ul, ol{
    margin-bottom: 2em;
}

.section{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
